
html,
body {
  width: 100%;
  background: #eeeeee;
  overflow: hidden;
}

.horizontal-scroll-wrapper {
  width: 100%;
  display: flex;
  overflow-y: auto;
  overflow-x: hidden;
}

.horizontal-scroll-wrapper > span {
  width: 100px;
  height: auto;
}

.horizontal-scroll-wrapper {
  ...
  transform: rotate(-90deg);
  transform-origin: right top;
}

.horizontal-scroll-wrapper > div {
  ...
  transform: rotate(90deg);
  transform-origin: right top;
}

.horizontal-scroll-wrapper {
  ...
  transform:rotate(-90deg) translateY(-100px);
  ...
}

.nav-bar {
  width: 100vw;
  background: #ffffff;
  margin-bottom: 10px;
}

.nav-bar .search-bar-container > .form-control {
  border-radius: 0;
  background: #eeeeee;
  border: 1.5px solid #eeeeee;
}

.nav-bar .search-bar-container .input-group > input {
  border-left: none !important;
}

.nav-bar .search-bar-container .input-group-text {
  border-right: none !important;
}

.nav-bar .add-post-container > button {
  border-radius: 0;
  border: 1.5px solid #ff9700;
}

.nav-bar .export-container > button {
  border: 1.5px solid #000000;
  border-radius: 0;
}

.custom-grey {
  background-color:#eeeeee;
  color: #ffffff;
}

.custom-orange {
  background-color: #ff9700;
  color: #ffffff;
}
.btn-circle{
	width: 50px;
	height: 50px;
	padding: 10px 16px;
	font-size: 18px;
	line-height: 1.33;
	border-radius: 25px;
  }
.no-radius{
	border-radius:0;
}

.custom-margin{
	margin-bottom:20px;
}

.btn:focus{
	outline: none !important;
	box-shadow : none !important;
}

.form-control:focus{
	outline: none !important;
	box-shadow : none !important;
}

button {
  border-radius: 0 !important;
}

.main {
  width: 100%;
  background-color: #ffffff;
  overflow-x: hidden;
}

main .bg-dark {
  background: #000000 !important;
}

main .bg-grey {
  background-color: #dedede;
  padding: 1rem .5rem;
}

main select.form-control {
  border-radius: 0;
  background-color: #ffffff;
}

main .label-grey {
  color: #424242;
}

main .overflow-horizontal {
  overflow-y: hidden;
  /* overflow-x: auto; */
}
main .overflow-horizontal::-webkit-scrollbar{
   /* display: none; */
}
main .overflow-horizontal span{
   border-bottom: 2px solid #ececec;
   cursor: pointer;
   text-align: center;
}
.scroll{
  cursor: pointer;
}
#scrollable{
  /* position: absolute; */
  /* overflow: hidden; */
}
main span.active{
  border-bottom: 2px solid #ff9700;
  color: #ff9700;

}
.w-35{
  width: 35%;
}

.custom-grey-dark{
  background-color: #D8D8D8;
  color:black; 
}

thead th {
  border-left: 1px solid #000;
  border-bottom: 1px solid #2c2c2c !important;
  border-top: 1px solid #2c2c2c !important; 
}

thead th:last-child {
  border-right: 1px solid #2c2c2c !important;
}
tbody tr td {
  text-align: center;
  vertical-align:center;
}